<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Latitude Fintech</a>
		</div>
	
		<form *ngIf="!currentUser" class="navbar-form navbar-right" (ngSubmit)="login()">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Email or phone" [(ngModel)]="username" name="username">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="password" [(ngModel)]="password" name="password">
			</div>
			<button  type="submit" class="btn btn-default border">Login</button>
		</form>
		<ul *ngIf="currentUser" class="nav navbar-nav navbar-right">
			<li><a href="#"><span class="glyphicon glyphicon-user"></span> Hi, {{currentUser.firstName}} !</a></li>
      <li><a (click)="logout()" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			
    </ul>
	</div>
	
</nav>
<div class="alert alert-danger alert-dismissable fade in" style="text-align:center" *ngIf="errormsg">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{errormsg}}</strong> 
</div>